.wrap_cart{
    width: 500px;
    background-color: white;
    box-shadow: 0px 2px 4px 1px black;
    border-radius: 10px 0 10px 10px;
    position: absolute;
    right: 18%;
    padding: 40px 10px;
}

.wrap_cart h1 {
    font-size: 20px;
}

.cart-item{
    display: grid;
    grid-template-columns: 5% 50% 20% 15% 10%   ;
    align-items: center;
    justify-items: center;
    padding: 2%;
}

.product_info {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-content: center;
}

.product_info img{
    width: 100%;
}

.product_info h1 {
    font-size: 12px;
}

.quan{
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: center;
}

.quan:nth-child(1){
    padding: 0 10px;
}

.quan span{
    text-align: center;
    user-select: none;
    margin: 0 10px;
    color: red;
}

.buy {
    align-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
    justify-items: center;
}

.buy h4 {
    display: inline-block;
    padding-left: 15%;
    text-align: left !important;
    width: 100%;
    margin-top: 15px;
}

.buy span {
    text-align: right;
    padding: 0 20px;
    grid-column-start: 2;
    text-align: right;
    color: red;
}

.buy a{
    width: 100%;
    grid-column: span 2; 
}

.buy button {
    grid-row: 2;
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
 }

 .price {
    font-size: 16px;
 }


 .wrap_cart svg{
    cursor: pointer;
 }